.app {
	display: grid;
	grid-template-columns: 130px 0.6fr 6.5fr 1.5fr;
	grid-template-rows: 1fr 6.8fr 2.3fr 85px;
	height:100%;
	width:100%;
	position:fixed;
	grid-template-areas:
	"logo logo search recommended"
	"navbar navbar mid recommended"
	"navbar navbar mid recommended"
	"albumArt albumArt playback playback";
	overflow: hidden;
	background-color: black;
	color: white;
}

.recommended {
	grid-area: recommended;
	background-color:rgba(31, 30, 30, 0.945);
	height:100%;
	width:100%;

}

.playback {
	grid-area: playback;
	border-top: 1px solid rgb(49, 49, 49);
	height:100%;
	width:100%;
	display:grid;
}

.albumArt {
	grid-area: albumArt;
}

.logo {
	padding-top: 10px;
	grid-area: logo;
	background-color:rgb(0, 0, 0);
	height:100%;
	width:100%;
	display: grid;
}

.search {
	grid-area: search;
	justify-self: center;
	align-self: center;
	height:100%;
	width:100%;
}

.navbar {
	grid-area: navbar;
	overflow: auto;
	height:100%;
	width:100%;
}

.mid {
	grid-area: mid;
	height:100%;
	width:100%;
	background-color: rgb(17, 17, 17);
	display: grid;
}

/* width */
::-webkit-scrollbar {
	width: 17px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
	background:rgb(63, 63, 63); 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
	background: #636363; 
  }