.discover {
	height: 100%;
	width: 100%;
	overflow: auto;
	font-family: arial;
	color: white;

	display: grid;
}

.discover > h1 {
	margin-bottom: -3%;
	display: grid;
	font-weight: 800;
	font-size: 3rem;
	margin-left: 10%;
}

.discover > div {
	height: 350px;
	margin-top: 8%;
	margin-bottom: 8%;
	padding-left: 5%;
	margin-left: 1%;
}




