@import url("https://fonts.googleapis.com/css2?family=Shadows+Into+Light");

.logo1 {
	display: flex;
	align-items: center;
	justify-content: center;
	color: black;
	font-size: 2.5rem;
	font-weight: 600;
	font-family: 'Shadows Into Light', cursive;
	overflow: hidden;
	min-width: 180px;
	min-height: 20px;
}

.logo1:hover {
	color: white;
	transition: color 5s;
}
