.navbar{
	display:grid;
	align-content: start;
	overflow: auto;
}

.navbar > div {
	background-color:black;
	display: flex;
	align-items: center;
	cursor: pointer;
	overflow: auto;
	height: 55px;
	padding-left: 4rem;
	align-self: center;
	color: #333;
	font-family: Arial;
}

.navch {
	background-color:black;
	display: flex;
	align-items: center;
	cursor: pointer;
	overflow: auto;
	height: 55px;
	padding-left: 4rem;
	align-self: center;
	color: rgb(168, 168, 168);
	font-family: Arial;
}
.navch:hover {
	color: rgb(255, 255, 255);
}

.navch1 {
	background-color:black;
	display: flex;
	align-items: center;
	cursor: pointer;
	overflow: auto;
	height: 55px;
	padding-left: 4rem;
	align-self: center;
	color: rgb(168, 168, 168);
	font-family: Arial;
	font-weight: 600;
}
.navch1:hover {
	color: rgb(255, 255, 255);
}


.navch2 {
	background-color:black;
	display: flex;
	align-items: center;
	cursor: pointer;
	overflow: auto;
	height: 55px;
	padding-left: 4rem;
	align-self: center;
	color: rgb(168, 168, 168);
	font-family: Arial;
	border-bottom: 0.5px solid #3f3f3f;;
}
.navch2:hover {
	color: white;
}
