.playback2{
    display: grid;
    background-color: rgb(24, 24, 24);
    grid-template-columns: 2fr 7fr;
    grid-template-areas: "songInfo audioDiv";   
    align-self: center;
    justify-self: center;
    height: 100%;
    width: 100%;
    
}


.audioDiv{
    grid-area: audioDiv;
    width: 100%;
    height: 100%;
}

.artista {
    grid-area: artista;
    justify-self: center;
    align-self: center;
    display: grid;
}

.artista > h1 {
    font-size: 0.8rem;
    color: rgb(141, 141, 141);
    justify-self: start;
    align-self: start;
    font-weight: 80;
    font-family: arial;
    margin-left: 15%;
}

.titlea {

    grid-area: titlea;
    justify-self: center;
    align-self: center;
    display: grid;
}

.titlea > h1 {
    font-size: 1rem;
    color: white;
    justify-self: start;
    align-self: end;
    font-weight: 400;
    font-family: arial;
    margin-left: 15%;
    margin-bottom: -2%;
}

.songInfo {
    display: grid;
    grid-area: songInfo;
    height: 100%;
    width: 100%;
    grid-template-areas: "titlea"
    "artista";
}

.songInfo > div {
    display:grid;
    height: 100%;
    width: 100%;
    font: arial;
    color: white;
}

.audioPlayer{
    background-color: rgb(24, 24, 24);
    font-family: arial;
    height: 100%;
    outline: none;
}
.rhap_button-clear:hover{
    color: white;
}

.rhap_play-pause-button {
    color:rgb(128, 128, 128);
    outline: none;
}

.rhap_button-clear {
    color:rgb(128, 128, 128);
    outline: none;
}

.rhap_time  {
    color:rgb(128, 128, 128);
    font-size: 0.7rem;
    outline: none;
}

.rhap_progress-indicator {
    color: transparent;
    background-color: transparent;
    box-shadow: none;
    outline: none;
}

.rhap_volume-indicator {
    margin-top:6%;
    height:90%;
    outline: none;
    background-color: rgb(46, 46, 46);
}

.rhap_volume-bar-area {
    outline: none;
}

.rhap_progress-container {
    outline: none;
}

.rhap_progress-filled {
    background-color: rgba(31, 31, 31, 0.514);
}