.titler {
    grid-area: titler;
    width: 100%;
    height: 100%;
    color: white;
    display: grid;
    margin-bottom: -5%;
    z-index: 1;
    margin-top:-16%;
}

.titler > h1{
	font-weight: 700;
	font-size: 1.3rem;
	align-self: start;
    justify-self: start;

}

.titler  :hover{
	text-decoration: underline;
    cursor: pointer;

}

.artr {
	display: grid;
	grid-area: artr;
	height: 100%;
    width: 100%;
}

.artr > img	{
	height: 100%;
	width: height;
	align-self: center;
    justify-self: center;
	border: 0.5px solid rgb(49, 49, 49);
}

.artr >  :hover{
	cursor: pointer;
}

.artistr {
    grid-area: artistr;
    margin-top: -3%;
    height: 100%;
    width: 100%;
    color: white;
    display: grid;
    z-index: 1;
}

.artistr > h1{
	font-weight: 500;
	font-size: 1rem;
	align-self: end;
    justify-self: end;
}

.artistr :hover{
	text-decoration: underline;
	cursor: pointer;
}

.recons {
	display: grid;
	grid-template-rows: 1fr 20fr 1fr;
    grid-template-areas:"titler"
    "artr"
    "artistr";
    font-family: arial;
}