.titler {
	font-weight: 700;
	font-size: 1.3rem;
    grid-area: titler;
    margin-left: 20%;
    margin-top: 30%;
    align-self: end;
}

.genrer {
	font-weight: 600;
	font-size: 1rem;
    margin-left: 20%;
    grid-area: genrer;
}

.artr {
    grid-area: 1/1/6/6;
	border: 3px double #808080;
    margin: 1rem;
    min-width: 140px;
	min-height: 140px;
}

.artistr {
	font-weight: 500;
	font-size: 1rem;
    margin-left: 20%;
    grid-area: artistr;
    
}

.dater {
	font-weight: 400;
	font-size: 0.9rem;
    margin-left: 20%;
    grid-area: dater;  
}

.recons {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: repeat(4, 1fr);
	margin-left:20%;
    margin-right:5%;
	
	grid-template-areas: 
	"titler . "
    "artistr ."
    "genrer ."
    "dater .";
    font-family: arial;
}


