.search {
	display: grid;
	height: 100%;
	width: 100%;
}

.search > form {
	display: grid;
	height: 100%;
	width: 100%;
}

.search > form > input {
	align-self: center;
	justify-self: start;
	border: 1.6px solid #DFDFDF;
	height: 40%;
	width: 50%;
	font-family: Arial;
	font-size: 0.9rem;
	color: #808080;
	border-radius: 25px;
	margin-left: 15%;
	padding-left: 3%;
}
.search>form>input:focus{
	outline: none;
	border: 3px inset rgb(104, 104, 104);
}