.ta {
	display: grid;
	grid-area: ta;
}

.ta :hover {
	cursor: pointer;
	width: 110%;
	height: width;
}

.ta > img {
	justify-self: center;
	align-self: center;
	width: 100%;
	height: width;
}

.progBar {
	display: grid;
	grid-area: progBar;
	height: 100%;
	width: 100%;
}

.progBar > img	{
	padding-bottom: 10%;
	padding-left: 66%;
	height: 130%;
	width: 184%;
	align-self: center;
	justify-self: center;
}

.title {
	display: grid;
	grid-area: title;
	height: 100%;
	width: 100%;
}

.title > h1{
	font-weight: 700;
	font-size: 1.3rem;
	align-self: end;
	justify-self: start;
}

.title :hover{
	text-decoration: underline;
	cursor: pointer;
}

.genre {
	display: grid;
	height: 100%;
	width: 100%;
	grid-area: genre;
	color: rgb(141, 141, 141);
}

.genre > h1{
	font-weight: 600;
	font-size: 1rem;
	align-self: end;
	justify-self: start;
}

.genre :hover{
	text-decoration: underline;
	cursor: pointer;
}

.art {
	display: grid;
	grid-area: art;
	height: 100%;
	width: 100%;
}

.art > img	{
	height: 90%;
	width: height;
	align-self: center;
	justify-self: center;
	border: 0.5px solid rgb(49, 49, 49);
}

.artist {
	display: grid;
	grid-area: artist;
	height: 100%;
	width: 100%;
}

.artist > h1{
	font-weight: 500;
	font-size: 1rem;
	align-self: start;
	justify-self: start;
}

.artist :hover{
	text-decoration: underline;
	cursor: pointer;
}

.date {
	display: grid;
	grid-area: date;
	height: 100%;
	width: 100%;
	color: rgb(141, 141, 141);
}

.date > h1{
	font-weight: 400;
	font-size: 0.9rem;
	align-self: start;
	justify-self: start;
}

.date :hover{
	text-decoration: underline;
	cursor: pointer;
}

.tracks {
	border-top: 0.5px solid rgb(66, 66, 66);
	border-bottom: 0.5px solid rgb(66, 66, 66);
	display:grid;
	grid-template-columns: repeat(7, 1fr);
	grid-template-rows: repeat(3, 1fr);
	grid-template-areas: 
	"ta title title genre art art art"
	"ta artist artist date art art art"
	"progBar progBar progBar progBar art art art";	
	font-family: arial;
	background-color: black;
}

.tracks > div{
	height: 100%;
	width: 100%;
	align-self: center;
	justify-self: center;
}


